.vibrate {
    background-color: #161616;
    color: #fff;
    border-radius: 35px;
    padding: 15px 40px;

    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}
